In [ ]:
my_list=["one","two","three",1,2]
my_list+["new"] #append and + are same

['one', 'two', 'three', 1, 2, 'new']

In [ ]:
my_list[:2]

['one', 'two']

In [ ]:
my_list[2:]

['three', 1, 2]

In [ ]:
my_list=my_list+["newitem"]
my_list

['one', 'two', 'three', 1, 2, 'new', 'new', 'newitem']

In [ ]:
my_list*2

['one',
 'two',
 'three',
 1,
 2,
 'new',
 'new',
 'newitem',
 'one',
 'two',
 'three',
 1,
 2,
 'new',
 'new',
 'newitem']

In [ ]:
my_list

['one', 'two', 'three', 1, 2, 'new', 'new', 'newitem']

In [ ]:
list1=[1,9,2,6]
list1.append('append me')
list1

[1, 9, 2, 6, 'append me']

In [ ]:
list1=list1+["dontappend"]
list1

[1, 9, 2, 6, 'append me', '', 'dontappend']

In [ ]:
list1.pop(0)

1

In [ ]:
list1

[9, 2, 6, 'append me', '', 'dontappend']

In [ ]:
popped_item=list1.pop() #defaulf pop out is -1, "-1 is dont append"
popped_item

'dontappend'

In [ ]:
list1

[9, 2, 6, 'append me', '']

In [ ]:
my_list.reverse()
my_list

['n', 'a', 'r', 'a', 's']

In [ ]:
my_list=['s','a','r','a','n']
my_list

['s', 'a', 'r', 'a', 'n']

In [ ]:
new_list=['a','b','c','d','e']
new_list

['a', 'b', 'c', 'd', 'e']

In [ ]:
new_list.reverse()
new_list

['e', 'd', 'c', 'b', 'a']

In [ ]:
new_list.sort()
new_list

['a', 'b', 'c', 'd', 'e']

In [ ]:
my_list.sort()
my_list

['a', 'a', 'n', 'r', 's']

In [ ]:
list1=[1,2,3]
list2=[4,5,6]
list3=[7,8,9]
matrix=[list1,list2,list3]
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [ ]:
matrix[1]

[4, 5, 6]

In [ ]:
matrix[1][2]

6

In [ ]:
#Dictionaries
#Dictionary start with {} curly bracket
my_dict={'name':'saran','age':'42'}
my_dict

{'name': 'saran', 'age': '42'}

In [ ]:
my_dict['age']

'42'

In [ ]:
my_dict={'key1':123,'key2':[10,11,12], 'key3':['item0','item1','item2'] }
my_dict

{'key1': 123, 'key2': [10, 11, 12], 'key3': ['item0', 'item1', 'item2']}

In [ ]:
my_dict['key2'][0:] #if you want to call, use []

[10, 11, 12]

In [ ]:
my_dict['key1']

123

In [ ]:
my_dict['key3'][0].upper()

'ITEM0'

In [ ]:
my_dict['key1']=my_dict['key1']-95
my_dict['key1']

28

In [ ]:
my_dict['key1']-=123
my_dict['key1']

-95

In [ ]:
dic={}
dic['name']='Saran'
dic['age']='42'
dic

{'name': 'Saran', 'age': '42'}

In [ ]:
dic1={"Car":5, "Auto":25, "Bike":125}
dic1

{'Car': 5, 'Auto': 25, 'Bike': 125}

In [ ]:
d={'age':42, 'height':6, 'weight':82}
d.keys()

dict_keys(['age', 'height', 'weight'])

In [ ]:
d.values()

dict_values([42, 6, 82])

In [ ]:
d.items()

dict_items([('age', 42), ('height', 6), ('weight', 82)])

In [ ]:
#Tuples. Tuples are immutable, cant change, edit
#Tuples are constant.
t=(1,2,3)
len(t)

3

In [ ]:
t=('one',2,'three','one')
t

('one', 2, 'three', 'one')

In [ ]:
t[1]

2

In [ ]:
t[-1]

'one'

In [ ]:
t.index('one')

0

In [ ]:
t.count('one')

2

In [ ]:
# SETS. we add to sets with add() method. unordered

In [1]:
x=set()
x.add(1)
x

{1}

In [3]:
x.add(2)
x

{1, 2}

In [4]:
#try to add the same element
x.add(2)
x

{1, 2}

In [5]:
list1=[1,1,2,2,3,3,4,5,5,6,7,7]
set(list1)

{1, 2, 3, 4, 5, 6, 7}

In [6]:
#If function

a=True
a

True

In [9]:
b=None
print(b)

None

In [10]:
if True:
  print("It was True")

It was True

In [12]:
x=False
if x:
  print("X Was True")
else:
  print("i will be printed in any case where x is not true")

i will be printed in any case where x is not true

In [14]:
loc="Fuel Station"
if loc=="Bank":
  print("Welcome to the Bank")
elif loc=="Fuel Station":
  print("Welcome to fuel station")
else:
  print("Where are you")

Welcome to fuel station

In [16]:
person="Rohit"
if person=="Kohli":
  print("Captain is Kohli")
elif person=="Rohit":
  print("Captain is Rohit")
else:
  print("Who is the next captain?")

Captain is Rohit

In [21]:
# For loop
list1=[2,1,3,4,6,5] #it will print only the order it has
for num in list1:
  print(num)

2
1
3
4
6
5

In [22]:
for num in list1:
  if num%2==0:
    print(num)

2
4
6

In [34]:
list2=[1,2,3,4,5,6,7]
for numb in list2:
  if numb % 2==0:
    print("Even numbers:",numb)
  else:
    print("Odd Numbers:",numb)

Odd Numbers: 1
Even numbers: 2
Odd Numbers: 3
Even numbers: 4
Odd Numbers: 5
Even numbers: 6
Odd Numbers: 7

In [33]:
list_sum=0
for numb in list2:
  list_sum=list_sum+numb #(Alternatively list_sum+=numb)
print(list_sum)

28

In [35]:
for letter in "This is the sentence":
  print(letter)

T
h
i
s

i
s

t
h
e

s
e
n
t
e
n
c
e

In [36]:
list2=[(2,4),(6,8),(10,12)]
for tup in list2:
  print(tup)

(2, 4)
(6, 8)
(10, 12)

In [38]:
for (s1,s2) in list2:
  print(s1)

2
6
10

In [42]:
d={'t1':2, 't2':3, 't3':4}
for values in d:
  print(values)

t1
t2
t3

In [43]:
d.items()

dict_items([('t1', 2), ('t2', 3), ('t3', 4)])

In [44]:
for t,s in d.items():
  print(t)
  print(s)

t1
2
t2
3
t3
4

In [45]:
list(d.keys())

['t1', 't2', 't3']

In [47]:
sorted(d.values())

[2, 3, 4]

In [ ]:
#Oops Object Oriented Programs
#Class = Blueprint of an object
#Lists, Strings, Dictionary = Objects

In [ ]:
#Classes
#Empty class
class Person:
  pass

In [49]:
person1=person()
print(person1)

TypeError: ignored

In [51]:
person1.name=("Sara")
print(person1.name)

NameError: ignored

In [52]:
dir(person1)

NameError: ignored

In [54]:
class person:
  def __init__(self,name1,lastname1):
    self.name=name1
    self.lastname=lastname1
person=person("Sara","Vanan")
print(person.lastname)

Vanan

In [62]:
class person:
  def __init__(self,name1,lastname1):
    self.name=name1
    self.lastname=lastname1
  def __str__(self):
    return "The First Name is {} and the Last name is {}".format(self.name,self.lastname)
person1=person("Saravanan","Nachiappan")
print(person1)

The First Name is Saravanan and the Last name is Nachiappan

In [64]:
class person:
  def __init__(self,name1,lastname1):
    self.name=name1
    self.lastname=lastname1
  def __str__(self):
    return f"The First Name is {self.name} and the Last name is {self.lastname}"
person1=person("Saravanan","Nachiappan")
print(person1)

The First Name is Saravanan and the Last name is Nachiappan

In [66]:
"Hello how are you{}".format(" Sara")

'Hello how are you Sara'

In [76]:
class bank:
  def __init__(self,accname,accnum,balance=0):
    self.accname=accname
    self.accnum=accnum
    self.balance=balance
  def __str__(self):
    return f"Account Holder Name: {self.accname} Account Number: {self.accnum} Balance :{self.balance}"
detail=bank("Saravanan.N","00821140000671","25000")

  def deposit(self,amount):
    self.balance+=amount
  def withdraw(self,withdraw):
    if withdraw<=self.balance:
      self.balance=self.balance-withdraw
    else:
      print("The balance is less")

In [26]:
class bank:
  def __init__(self,accname,accnum,balance):
    self.accname=accname
    self.accnum=accnum
    self.balance=balance

  def __str__(self):
    return f"Account Holder Name: {self.accname} Account Number: {self.accnum} Balance :{self.balance}"
  def deposit(self,deposit):
    self.balance+=deposit

  def withdrawal(self,withdrawal):
    if withdrawal<=self.balance:
      self.balance-=withdrawal
    else:
      print("The balance is less and ur acc balance is ",self.balance)




detail=bank("Saravanan.N","00821140000671",0)

print(detail)

Account Holder Name: Saravanan.N Account Number: 00821140000671 Balance :0

In [27]:
detail.deposit(10000)
print(detail.balance)

10000

In [28]:
print(detail)

Account Holder Name: Saravanan.N Account Number: 00821140000671 Balance :10000

In [30]:
detail.withdrawal(11000)
print(detail.balance)
print(detail)

The balance is less and ur acc balance is  5000
5000
Account Holder Name: Saravanan.N Account Number: 00821140000671 Balance :5000

In [25]:
dir(detail)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'accname',
 'accnum',
 'balance',
 'deposit',
 'withdrawal']

In [42]:
#To do list
class Todolist:
  def __init__(self,owner): #Constructor
    self.owner=owner
    self.task=[]

  def add_task(self,task):
    self.task.append(task)

  def complete_task(self,task):
    if task in self.task:
      self.task.remove(task)
      print(f"Task '{task}' is completed")
    else:
      print("The task is not found")

  def display_task(self):
    print(f"The to do task of {self.owner}:")
    for task in self.task:
      print(task)

In [49]:
sara=Todolist("Reliance Meeting")
sara.add_task("Welcome speech at 9 am")
sara.display_task()

The to do task of Reliance Meeting:
Welcome speech at 9 am

In [50]:
sara.add_task("Presentation at 10 am")
sara.add_task("Coffee Break at 11 am")
sara.add_task("Individual PPT at 11.15 am")
sara.add_task("Lunch at 2 pm")
sara.display_task()

The to do task of Reliance Meeting:
Welcome speech at 9 am
Presentation at 10 am
Coffee Break at 11 am
Individual PPT at 11.15 am
Lunch at 2 pm

In [51]:
sara.complete_task("Welcome speech at 9 am")
sara.display_task()

Task 'Welcome speech at 9 am' is completed
The to do task of Reliance Meeting:
Presentation at 10 am
Coffee Break at 11 am
Individual PPT at 11.15 am
Lunch at 2 pm

In [53]:
sara.complete_task("Presentation at 10 am")
sara.display_task()

Task 'Presentation at 10 am' is completed
The to do task of Reliance Meeting:
Coffee Break at 11 am
Individual PPT at 11.15 am
Lunch at 2 pm

In [59]:
#Water Board management
# street 1 to 5 water release and water close update
class Watermgmt:
  def __init__(self,owner): #Constructor
    self.owner=owner
    self.tasks=[]

  def release(self,tasks):
    self.tasks.append(tasks)

  def drop(self,tasks):
    if tasks in self.tasks:
      self.tasks.remove(tasks)
      print(f"Tasks '{tasks}' is completed")
    else:
      print("The tasks is not found")

  def schedule(self):
    print(f"The to do task of {self.owner}:")
    for tasks in self.tasks:
      print(tasks)

saran=Watermgmt("Water Release")

In [60]:
saran.release("Bharathiar street at 9 am")
saran.schedule()

The to do task of Water Release:
Bharathiar street at 9 am

In [61]:
saran.release("Kumarappa street at 10 am")
saran.release("Sathyamurthy street at 11 am")
saran.release("Kamatchiamman Steet at 12 am")
saran.release("Sivalinga street at 1 am")
saran.schedule()

The to do task of Water Release:
Bharathiar street at 9 am
Kumarappa street at 10 am
Sathyamurthy street at 11 am
Kamatchiamman Steet at 12 am
Sivalinga street at 1 am

In [64]:
saran.drop("Bharathiar street at 9 am")
saran.drop("Kumarappa street at 10 am")
saran.drop("Sathyamurthy street at 11 am")
saran.schedule()

The tasks is not found
The tasks is not found
Tasks 'Sathyamurthy street at 11 am' is completed
The to do task of Water Release:
Kamatchiamman Steet at 12 am
Sivalinga street at 1 am

In [ ]:
Class Stadium:
  def __init__(self,gates,audience=0):
    self.gates=gates
    self.audience=audience
  def audience(self,audience):
    self.audience+=audience
  def agenda(self):
    print(f"Gate opening schedule {self.Stadium}:")
    for gates in self.gates:
      print(gates)

Roch=Stadium("Sports day attendance")

In [4]:
Roch.gates("Gate 1 opened")
Roch.agenda()

NameError: ignored

In [36]:
Report.Sales(3)
print(Report.Stock)
print(Report)

TypeError: ignored

In [46]:
class MobilePhone:
  def __init__ (self,brand,model,processor,price):
    self.brand=brand
    self.model=model
    self.processor=processor
    self.price=price
  def make_calls(self,number):
    print(f"calling {number} with {self.brand} and {self.model}")
  def send_messages(self,number,message):
    print(f"sending messages to {number} : {message}")
  def end_call(self,number):
    print(f"Call is disconnected with{number}")

In [47]:
mobile=MobilePhone("Oneplus","Node3","8GB",19500)
mobile.make_calls(9840994987)

calling 9840994987 with Oneplus and Node3

In [49]:
mobile.send_messages(9840994987,"Hi Everyone")

sending messages to 9840994987 : Hi Everyone

In [ ]:
class Student:
  def __init(self,name,standard,section):
    self.name=name
    self.standard=standard
    self.section=section
  def

In [ ]:
Report1=Student("Saravanan","10th std","C Sec")
Report1.

In [69]:
#Collections : List[]
a=["sara","roch","vinu"]
print(a)
a.insert(1,"Roch")
print(a)

['sara', 'roch', 'vinu']
['sara', 'Roch', 'roch', 'vinu']

In [72]:
a.pop(2)
print(a)

['sara', 'Roch', 'vinu']

In [75]:
a.append(1)
print(a)

['sara', 'Roch', 'vinu', 1, 1]

In [76]:
  b=["Krishni","Prasath","Siva"]
  a.extend(b)
  print(a)

['sara', 'Roch', 'vinu', 1, 1, 'Krishni', 'Prasath', 'Siva']

In [77]:
#Collections : Tuples()

a=(1,2,3,4)
a[0]=10 #Cannot modify
print(a)

TypeError: ignored

In [78]:
a=(1,2,3,4)
b=list(a) #we can convert Tuple into list
print(a)
print(b)

(1, 2, 3, 4)
[1, 2, 3, 4]

In [79]:
#Sets
a={1,2,3,4}
print(a)

{1, 2, 3, 4}

In [80]:
a[0]=12 #cannnot assign
print(a)

TypeError: ignored

In [81]:
a.add(45)
print(a)

{1, 2, 3, 4, 45}

In [82]:
a.remove(3)
print(a)

{1, 2, 4, 45}

In [83]:
a.pop() #it will delete the first element.  sets are unordered
print(a)

{2, 4, 45}

In [85]:
a.remove(1)
print(a)

KeyError: ignored

In [86]:
#Dictionaries{} Can MODIFY
#DO NOT ALLOW DUPLICATE, duplicate value will overwrite existing value,
#Any type of data can be stored

a={"name":"Sara", "age":"42","height":175,"Weight":80}
print(a)

{'name': 'Sara', 'age': '42', 'height': 175, 'Weight': 80}

In [88]:
print(a.keys())
print(a.values())

dict_keys(['name', 'age', 'height', 'Weight'])
dict_values(['Sara', '42', 175, 80])

In [92]:
a.update({"age":43})
print(a)

{'name': 'Sara', 'age': 43, 'height': 175, 'Weight': 80}

In [95]:
a["Color"]="White"
print(a)

{'name': 'Sara', 'age': 43, 'height': 175, 'Weight': 80, 'Color': 'White'}

In [96]:
a.pop("Color")
print(a)

{'name': 'Sara', 'age': 43, 'height': 175, 'Weight': 80}

In [97]:
del a["age"]
print(a)

{'name': 'Sara', 'height': 175, 'Weight': 80}

In [ ]:
# LIST is a collection which is ordered, and changeable. Allows duplicate members
# TYPLE is a collection which is ordered and UNchangeable. Allows duplicate members
# SET is a collection which is unordered and UNchangeable. and unindexed, No Duplicate members.
# Dictionary is a collection which is ordered and changeable. No Duplicate memebers.

In [98]:
#FUNCTIONS
# def is important for defining
def printer():
  print("printing")
printer()

printing

In [104]:
def add():
  print("Addition:")
  a=int(input("Enter a:"))
  b=int(input("Enter b:"))
  print("Addition Result:",(a+b))
add()

Addition:
Enter a:25
Enter b:15
Addition Result: 40

In [105]:
def sub():
  print("Subtraction:")
  a=int(input("A value:"))
  b=int(input("B value:"))
  print("Subtraction Result is:",(a-b))

sub()

Subtraction:
A value:25
B value:15
Subtraction Result is: 10

In [106]:
def mult():
  print("Multiplication:")
  a=int(input("A value:"))
  b=int(input("B value:"))
  print("Multiplication Result is:",(a*b))
mult()

Multiplication:
A value:5
B value:6
Multiplication Result is: 30

In [108]:
def evenorodd(a):
  print(a)
b=10
evenorodd(b)

10

In [111]:
def findevenorodd(a):
  if(a%2==0):
    print("EVEN")
  else:
    print("ODD")
b=int(input("Enter num:"))
findevenorodd(b)

Enter num:15
ODD

In [115]:
def findpassorfail(a):
  if(a>=35):
    print("PASS")
  else:
    print("FAIL")
  b=int(input("Enter marks:"))
findpassorfail(b)

Enter marks:35
PASS

In [119]:
def printrange():
  for i in range(1,11):
    print(i)
printrange()

1
2
3
4
5
6
7
8
9
10

In [ ]:
def printrange(r1,r2):
  for i in range(r1,r2):
    print(i)
printrange(5,10)

In [124]:
def printrange(r1,r2):
  for i in range(r1,r2):
    print(i)
a=int(input("Enter a:"))
b=int(input("Enter b:"))
print("print num between a and b")
printrange( a , b)

Enter a:25
Enter b:35
print num between a and b
25
26
27
28
29
30
31
32
33
34

In [125]:
#Return in functions
def painter():
  print("i am painter")
painter()

i am painter

In [127]:
def painter():
  return "i am painter"
print(painter())

i am painter

In [128]:
def painter():
  return "I am paint"
msg=painter()
print(msg)

I am paint

In [129]:
def valueofa():
  return 10
a=valueofa()
print(a)

10

In [135]:
s_username="EMC"
s_password="123"

#Using print function
uname=input("Enter value for username")
password=input("Enter value for password")

def validate():
  if (s_username==uname and s_password==password):
    print("Correct")
  else:
    print("Wrong")
validate()

Enter value for usernameEMC
Enter value for password123
Correct

In [136]:
#Using return function
s_username="EMC"
s_password="123"

uname=input("Enter value for username")
password=input("Enter value for password")

def validate():
  if (s_username==uname and s_password==password):
    return True
  else:
    return False
a=validate()
print(a)

Enter value for usernameEMC
Enter value for password123
True

In [137]:
def add():
  a=int(input("Value of A: "))
  b=int(input("Value of B: "))
  c=int(input("Value of C: "))
  return (a+b)*c
result=add()
print(result)

Value of A: 10
Value of B: 5
Value of C: 2
30

In [144]:
def add(n1,n2):
  return n1+n2
a=int(input("Value of A: "))
b=int(input("Value of B: "))
c=int(input("Value of C: "))
added=add(a,b)
output=(added*c)
print(output)

Value of A: 15
Value of B: 10
Value of C: 2
50

In [147]:
#Classes and Objects

class goa:
  name=""
  drink=""

  def party():
    print("Lets party")
  def beach():
    print("Enjoy the beach")
sara=goa()
siva=goa()

sara.name="Sara"
siva.name="Siva"

sara.drink="No"
siva.drink="Yes"

print(sara.name)
print("Drink:",sara.drink)
print(siva.name)
print("Drink:",siva.drink)

Sara
Drink: No
Siva
Drink: Yes

In [148]:
class laptop():
  price=0
  processor=""
  ram=""
hp=laptop()
dell=laptop()

hp.price=50000
hp.processor="i3"
hp.ram="8GB"

dell.price=60000
dell.processor="i5"
dell.ram="16GB"

print(hp.price)

50000

In [149]:
#init function
class laptop():
  def __init__(self):
    print("Demo")
  def display(self):
    print("Display")
hp=laptop()

Demo

In [152]:
class laptop():
  def __init__(self):
    self.price=0
    self.processor=""
    self.ram=""
  def display(self):
    print("Display")
hp=laptop()
hp.price=50000
hp.processor="i5"
hp.ram="8GB"
print("hp ram:",hp.ram)
print("hp processor:",hp.processor)
print("hp price:",hp.price)

hp ram: 8GB
hp processor: i5
hp price: 50000

In [154]:
class laptop():
  def __init__(self):
    self.ram=""
    self.processor=""
  def display(self):
    print("ram:",self.ram)
    print("processor:",self.processor)
hp=laptop()
dell=laptop()
hp.ram="8GB"
hp.processor="i3"
dell.ram="16GB"
dell.processor="i5"

hp.display()
dell.display()

ram: 8GB
processor: i3
ram: 16GB
processor: i5

In [158]:
class student:
  def __init__(self): #single argument
    self.name=""
    self.regnumber=""
  def display(self):
    print("name:",self.name)
    print("reg num:",self.regnum)
s1=student()
s2=student()
s1.name='Saravanan.N'
s1.regnum=1680
s2.name='Roshni.S'
s2.regnum=1926
s1.display()
s2.display()

name: Saravanan.N
reg num: 1680
name: Roshni.S
reg num: 1926

In [169]:
class Fruit:
  def __init__(self,col): #single argument
    self.color=col
apple=Fruit("red")
print(apple.color)

red

In [176]:
class teacher:
  def __init__(self,name,regnum): #two arguments
    self.name=name
    self.regnum=regnum
  def display(self):
    print("Teacher Name:",self.name)
    print("Teacher Regnum:",self.regnum)
t1=teacher("Anitha",2659)
t2=teacher("Saranya",2660)
t1.display()
t2.display()

Teacher Name: Anitha
Teacher Regnum: 2659
Teacher Name: Saranya
Teacher Regnum: 2660

In [200]:
class calculator:
  def __init__(self,a,b):
    self.num1=a
    self.num2=b
  def add(self):
    print("Addition is:",self.num1+self.num2)
  def sub(self):
    print("Subtraction of:",self.num1-self.num2)
  def mul(self):
    print("Multiplication is:",self.num1*self.num2)
  def div(self):
    print("Division is:", self.num1/self.num2)

obj1=calculator(10,5)
obj1.add()
obj1.sub()
obj1.mul()
obj1.div()

Addition is: 15
Subtraction of: 5
Multiplication is: 50
Division is: 2.0

In [1]:
class calc: #Without a constructor also can create like this.
  def add(self,a,b):
    print("add:",a+b)
obj=calc()
obj.add(1.5,1.25)

add: 2.75

In [2]:
class mobile:
  def __init__(self,brand,price,ram):
    self.brand=brand
    self.price=price
    self.ram=ram
  def display(self):
    print("Mobile brand=",self.brand)
    print("Mobile price=",self.price)
    print("Mobile ram=",self.ram)
spec=mobile("Oneplus",19500,"8GB")
spec.display()

Mobile brand= Oneplus
Mobile price= 19500
Mobile ram= 8GB

In [3]:
class earphone:
  def __init__(self,brand,price,battery):
    self.brand=brand
    self.price=price
    self.battery=battery
  def display(self):
    print("Earphone Brand:",self.brand)
    print("Earphone Price:",self.price)
    print("Earphone Battery backup:",self.battery)
specs=earphone("Oneplus",1999,"5000 MAH")
specs.display()

Earphone Brand: Oneplus
Earphone Price: 1999
Earphone Battery backup: 5000 MAH

In [14]:
#Different type of variables
class moto:
  chargertype="C-Type" #No need to print everytime if the variable is common
  def __init__(self,model,price):
    self.model=model
    self.price=price
  def display(self):
    print("Mobile model:",self.model)
    print("Mobile charger:",self.chargertype)
    print("Mobile price:",self.price)

moto.chargertype="B-Type" #We can change the charger type from ctype to btype here

Motorola=moto("Motoc3",17500)
Motorola.display()

Redmi=moto("Redmi",16500)
Redmi.display()

Google=moto("Google pixel",24500)
Google.display()

Mobile model: Motoc3
Mobile charger: B-Type
Mobile price: 17500
Mobile model: Redmi
Mobile charger: B-Type
Mobile price: 16500
Mobile model: Google pixel
Mobile charger: B-Type
Mobile price: 24500

In [18]:
#Different type of class methods. Instance method, class method, static method
class laptop():
  chargertype="C-Type"

  def __init__(self):
    self.brand=""
    self.price=34
  def setprice(self,price):
    self.price=price
  def getprice(self):
    print(self.price)

  @classmethod
  def changechargertype(cls):
    cls.chargertype="B-Type"
    print("Charger type changed to B-Type")

  @staticmethod
  def info():
    print("This is laptop class")

hp.laptop()
hp.setprice(20000)
hp.getprice()
laptop.changechargertype()
hp.info()

NameError: ignored

In [7]:
class Ebbill:
  def __init__ (self,month,amount,unit):
    self.month=month
    self.amount=amount
    self.unit=unit
  def display(self):
    print("Month:", self.month)
    print("Amount:",self.amount)
    print("Unit:",self.unit)
April=Ebbill("April",1200,120)
April.display()
May=Ebbill("May",1100,110)
May.display()
June=Ebbill("June",1000,100)
June.display()
Avg=

Month: April
Amount: 1200
Unit: 120
Month: May
Amount: 1100
Unit: 110
Month: June
Amount: 1000
Unit: 100

In [8]:
#Inheritence and its objects
class saran():
  def phone(self):
    print("Sarans Phone")
class vinu():
  def gametoys(self):
    print("Vinus toys")
son=vinu() #so vinu cant access sarans object
son.phone()

AttributeError: ignored

In [30]:
class saran(): #can define one class into another class
  def phone(self):
    print("Sarans Phone")

class rochu(saran):
  def watch(self):
    print("Rochus watch")

class vinu(rochu,saran):
  def gametoys(self):
    print("Vinus toys")

son=vinu() #so one object can access multiple class
son.gametoys()
son.phone()
son.watch()
daught=rochu()
daught.phone()

Vinus toys
Sarans Phone
Rochus watch
Sarans Phone

In [35]:
class dad():
  def money(self):
    print("Dads Money")

class asset():
  def mainland(self):
    print("main asset")

class son1(dad, asset):
  pass #Can create empty class with pass comment

class son2(dad):
  pass

class sone3(dad):
  pass

s1=son1()
s1.money()
s1.mainland()

Dads Money
main asset

In [37]:
class a():
  def __init__ (self):
    print("A")
  def display(self):
    print("You are in class A")
class b(a):
  def display(self):
    print("You are in class B")

obj1=b() #since class b doesnt have constructor, it is inheriting class a
obj1.display()

A
You are in class B

In [38]:
class a():
  def __init__ (self):
    print("A")
  def display(self):
    print("You are in class A")
class b(a):
  def __init__(self): #since b is also having constructing, though it is inheriting a class, but it will print only b
    print("B")
  def display(self):
    print({"You are in class B"})
obj=b()v

B

In [47]:
class a():
  def __init__ (self):
    print("A")
  def display(self):
    print("You are in class A")
class b():
  def __init__(self):
    super().__init__() #super keyword will help accessing previous class
    print("B")
  def display(self):
    print({"You are in class B"})
class c(b,a):
  def __init__(self):
    super().__init__()
    print("C")
  def display(self):
    print("You are in class C")

obj=c()

A
B
C

In [51]:
class person: #parent class
  def __init__(self,name):
    self.name=name
  def display(self):
    print(f"Name is:{self.name}")

class student(person): #Child class, parent class cant access child class
  def __init__(self,name,grade):
    super().__init__(name)
    self.grade=grade
  def display(self):
    super().display()
    print(f"The Grade is:{self.grade}")

s1=student("Sara","A+")
s1.display()

Name is:Sara
The Grade is:A+

In [50]:
class teacher(person):
  def __init__(self,name,subject):
    super().__init__(name)
    self.subject=subject
  def display(self):
    super().display()
    print(f"The Subject is:{self.subject}")
te1=teacher("krish","python")
te1.display()

Name is:krish
The Subject is:python

In [57]:
class vehicle():
  def __init__(self,Model,Brand):
    self.Model=Model
    self.Brand=Brand
  def display(self):
    print(f"The Model is:{self.Model}")
    print(f"The Brand is:{self.Brand}")
  def start(self):
    print(f"the {self.Brand} {self.Model} is starting")

class bicycle(vehicle):
  def __init__(self,Model,Brand):
    super().__init__(Model,Brand)
  def display(self):
    super().display()
  def start(self):
    super().start()
    print(f"the {self.Brand} {self.Model} is ready to go")

vehicle=vehicle("Figo","Ford")
vehicle.display()
vehicle.start()
bicycle=bicycle("Feather","Hercules")
bicycle.display()
bicycle.start()

The Model is:Figo
The Brand is:Ford
the Ford Figo is starting
The Model is:Feather
The Brand is:Hercules
the Hercules Feather is starting
the Hercules Feather is ready to go

In [69]:
class animal():
  def __init__(self,name):
    self.name=name
  def display(self):
    print(f"The Name  of animal:{self.name}")
class cat(animal):
  def __init__(self,name):
    super().__init__(name)
  def display(self):
    super().display()
  def sound(self):
    print(f"The {self.name} barks" )
class dog(animal):
  def __init__(self,name):
    super().__init__(name)

animal=animal("elephant")
animal.display()
cat=cat("Tom")
cat.display()
cat.sound()

The Name  of animal:elephant
The Name  of animal:Tom
The Tom barks

In [2]:
#POLYMORPHISM
def add(a,b,c=0): #same function name being used for different types
  print(a+b+c)
add(1,2)
add(1,2,3)

3
6

In [8]:
class animal():
  def sound(self):
    print("Animal makes sound")
class dog(animal):
  def sound(self): #method overriding, polymorphism
    print("Dog barks")
class bird(animal):
  def sound(self):
    print("Bird sings")
b1=bird()
b1.sound()

Bird sings

In [13]:
class shape():
  def area(self):
    return 0

class rectangle(shape):
  def area(self):
    len=10
    bred=20
    print(len*bred)
s1=shape()
print(s1.area())
r1=rectangle()
r1.area()

0
200

In [53]:
class person():
  def __init__(self,name):
    self.name=name
  def display(self):
    print(f"Name of the person is:{self.name}")
class student(person): #derived or child class
  def __init__(self,name,grade): #__ constructor
    super(). __init__(name)
    self.grade=grade
  def display(self):
    super().display()
    print(f"Grade:{self.grade}")
s1=student("sara","A")
s1.display()

Name of the person is:sara
Grade:A

In [46]:
class vehicle():
  def __init__(self,start):
    self.start=start
  def display(self):
    print("vehicle started")
class car(vehicle):
  def __init__(self,start):
    super().__init__(start)

  def display(self):
    super().display()
    print("Car is started")

c1=car(car)
c1.display()

vehicle started
Car is started

In [62]:
class employee():
  def __init__(self,name,salary):
    self.name=name
    self.salary=salary
  def display(self):
    print(f"Name of the employee:{self.name}")
    print(f"Salary :{self.salary}")
class manager(employee):
  def __init__(self,name,salary,department):
    super().__init__(name,salary)
    self.department=department
  def display(self):
    super().display()
    print(f"Department is:{self.department}")

m1=manager("Sara",25000,"Science")
m1.display()

Name of the employee:Sara
Salary :25000
Department is:Science

In [66]:
class car():
  def __init__(self,brand):
    self.brand=brand
  def start(self):
    print(f"brand of the car:{self.brand}")
class lorry(car):
  def __init__(self,brand,tyre):
    super().__init__(brand)
    self.tyre=tyre
  def start(self):
    super().start()
    print(f"the brand is {self.brand} and has {self.tyre} tyres")
c1=car("Figo")
c1.start()
l1=lorry("mahindra",4)
l1.start()

brand of the car:Figo
brand of the car:mahindra
the brand is mahindra and has 4 tyres

In [75]:
class vegetables():
  def __init__(self,name):
    self.name=name
  def display(self):
    print(f"The vegetable name is {self.name}")
class potato(vegetables):
  def __init__(self,name,color):
    super().__init__(name)
    self.color=color
  def display(self):
    super().display()
    print(f"and {self.name}  color is {self.color}")
v1=vegetables("Tomato")
v1.display()
p1=potato("Potato","grey")
p1.display()

The vegetable name is Tomato
The vegetable name is Potato
and Potato  color is grey

In [81]:
class furniture():
  def __init__(self,name):
    self.name=name
  def display(self):
    print(f"The shop name is:{self.name}")
class steelcot(furniture):
  def __init__(self,name,size):
    super().__init__(name)
    self.size=size
  def display(self):
    super().display()
    print(f"{self.name} and Size of the is{self.size}")
f1=furniture("Royaloak")
f1.display()
s1=steelcot("RMN",6.5)
s1.display()

The shop name is:Royaloak
The shop name is:RMN
RMN and Size of the is6.5

In [82]:
# public access
class person():
  def __init__(self,firstname,lastname):
    self.firstname=firstname
    self.lastname=lastname
  def display(self):
    print(f"The first name is {self.firstname} and the last name is {self.lastname}")

p1=person("Sara","Nach")
p1.display()

The first name is Sara and the last name is Nach

In [85]:
#protected access modifiers, private
class student():
  def __init__(self,name,rollno):
    self._name=name #_(one underscore can be used for protected access modifiers)
    self._rollno=rollno
  def _display(self):
    print(f"The name is {self._name} and Roll no is {self._rollno}")
s1=student("Sara",1680)
s1._display()

The name is Sara and Roll no is 1680

In [88]:
class genius(student):
  def __init__(self,name,rollno):
    super().__init__(name,rollno)
  def displays(self):
    print(f"name is {self._name} and rollno{self._rollno}")
    self._display()
g1=genius("saro",123)
g1.displays()

name is saro and rollno123
The name is saro and Roll no is 123

In [1]:
class animal():
  def __init__(self,name):
    self.name=name
  def make_sound(self):
    return "generic voice"
class dog(animal):
  def make_sound(self):
    return"woof"
class cat(animal):
  super().make_sound(self)

cat=cat("Tom")
cat.make_sound()

RuntimeError: ignored

In [8]:
class person():
  company_name="Tataplay" #Class variables, it can be shared by all the instances of class
  def __init__(self,Firstname,Lastname):
    self.Firstname=Firstname #instance variable
    self.Lastname=Lastname
  @classmethod
  def change_company(cls,company_name):
    cls.company_name=company_name

p1=person("Sara","Nach")
p1.company_name
person.change_company("iNeuron")#we can change the class variables in
person.company_name

'iNeuron'

In [6]:
class car():
  base_price=100000 #class variable can be updated in the car itself.
  def __init__(self,model,brand):
    self.model=model
    self.brand=brand
  def display(self):
    print(f"The base price is{self.base_price}")

  @classmethod
  def change_price(cls,base_price):
    cls.base_price=base_price

  @staticmethod #utility method
  def check_year(year):
    if year==2024:
      return True
    else:
      return False

car.change_price(125000) #(instead of creating an another name, we can call from class itself.)
car.base_price

125000

In [7]:
car1=car("bmw","ev")
car1.base_price

125000

In [8]:
car.check_year(2024)

True

In [10]:
#Data class
from dataclasses import dataclass
@dataclass
class person():
  firstname:str
  lastname:str
person=person("Sara","Nach")
person.firstname

'Sara'

In [2]:
class demo():
  def __init__(self):
    print("Good morning")
  def __new__(self):
    print("Good afternoon")
obj=demo()

Good afternoon

In [7]:
class emp:
  def __init__(self):
    print("Object created")
  def test(Sara):
    print("Python is cool")
  def demo(self):
    print("Python rocks")
saran=emp() #object creation, can create n number of objects in a class, calling the object,
saran.test() #accessing the function dot method,
saran.demo()

Object created
Python is cool
Python rocks

In [4]:
saran=demo()

NameError: ignored

In [11]:
class emp:
  def __init__(self):
    print("Object created")
  def test(self):
    print(f"Python is cool {id(self)}")
  def demo(self):
    print("Python rocks")
obj=emp()
obj.test()

Object created
Python is cool 134486501853408

In [13]:
#Encapsulation
class cinema:
  def __init__(self,movie,rate):
    self.movie=movie #instance variable, we can access this variable thru self
    self.rate=rate #self is a reference and memory address
  def display(self):
    print(f"The movie name is: {self.movie}")
    print(f"The ticket rate is: {self.rate}")
movie=cinema("Billa",150)
movie.display()

The movie name is: Billa
The ticket rate is: 150

In [15]:
import math #math is a package
class circle:
  def __init__(self,r): #r is a instance variable and constructor
    self.radius=r
    print(self.radius)
  def cal_area(self): #instance method
    self.area=math.pi*(self.radius**2) #functions
  def cal_circumference(self):
    self.cir=2*math.pi*self.radius
  def display(self):
    print(f"area {self.area}")
    print(f"cir {self.cir}")
r=int(input("Enter radius:"))
obj=circle(r)

Enter radius:100
100

In [17]:
obj.cal_area()
obj.cal_circumference()
obj.display()

area 31415.926535897932
cir 628.3185307179587

In [32]:
import math
class circle:
  def __init__(self,a): #instance variable
    self.x=a #local variable
    print(self.x)
  def CalcArea(self):
    (self.x**2)*math.pi

  def calcCircum(self):
    2*math.pi*self.x


obj1=circle(100)
obj1.CalcArea()
obj1.calcCircum()

100

In [1]:
class Compstudent:
  stream='cse' #Class variable
  def __init__(self,name,role):
    self.name=name
    self.role=role
obj1=Compstudent("Sara",1680)

In [3]:
print(obj1.name)
print(obj1.role)

Sara
1680

In [4]:
print(obj1.stream) #we can run with the help of object

cse

In [5]:
print(Compstudent.stream) #We can use class

cse

In [7]:
class demo():
  branch="commerce" #Global variable
  def __init__(self):
    self.name="sara" #instance variable
    self.age=42 #instance variable
    rollno=1680 #Local variable

In [8]:
obj1=demo()

In [9]:
obj1.name

'sara'

In [10]:
obj1.branch

'commerce'

In [11]:
obj2=demo()
obj2.branch

'commerce'

In [14]:
class circle():
  pi=3.14 #class variable
  def __init__(self,r): #constructor
    self.rad=r
  def cal_area(self): #instance method
    return pi*self.rad**2
  def cal_circumference(self): #instance method
    return 2*pi*self.rad
rad=circle(10)
print(rad.cal_area())
print(rad.cal_circumreference)

NameError: ignored

In [26]:
class emp():
  increment=int(input("Enter the increment:"))
  def __init__(self,name,age,salary):
    self.name=name
    self.age=age
    self.salary=salary
  def incr_sal(self):
    self.salary=self.salary+(self.salary*(self.increment/100))
  def display(self):
    print(f"Employee name:{self.name} | Employee Age{self.age} | Employee Salary{self.salary}")

Enter the increment:30

In [28]:
obj=emp("Saravanan.N",42,1750000)
obj.display()

Employee name:Saravanan.N | Employee Age42 | Employee Salary1750000

In [29]:
obj.incr_sal()
obj.display()

Employee name:Saravanan.N | Employee Age42 | Employee Salary2275000.0

In [2]:
class demo():
  def __init__(self):
    print("this is init function")
    print(f"here is the value of self{id(self)}")
obj1=demo()

this is init function
here is the value of self134671929258480

In [6]:
class demo():
  city="karur"
  def __init__(self,name):
    self.name=name
obj=demo("Sara")
obj.name

'Sara'

In [7]:
obj.city

'karur'

In [8]:
obj1=demo("Ravi")
obj1.name

'Ravi'

In [9]:
obj1.city

'karur'

In [10]:
id(obj.city)
id(obj1.city) #both the ids are same.

134671587932976

In [17]:
#classmethod
class demo():
  city="karur"

  @classmethod
  def test(cls):
    print("I am working as a  class method")
    print(f"here is a address of cls {id(cls)}")
  def __init__(self,name):
    self.name=name
obj=demo("Sara")
obj.test()

I am working as a  class method
here is a address of cls 98325289565904

In [19]:
#staticmethod
class demo():
  city="karur"

  @staticmethod
  def test1():
    print("I am working with static method")

  def __init__(self,name):
    self.name=name
obj=demo("Sara")
obj.test1()

I am working with static method

In [26]:
#Decorator
def greet(text):
  return text.upper()
def shout(text):
  return text.lower()
def master(self):
  output=self("hi this is Saravanan")
  print(output)

In [27]:
master(greet)
master(shout)

HI THIS IS SARAVANAN
hi this is saravanan

In [24]:
def greet(text):
  return text.upper()
greet("usefull")

'USEFULL'

In [25]:
test=greet
test("useless")

'USELESS'

In [31]:
def lower(text):
  return text.lower()
def upper(text):
  return text.upper()
def display(self):
  output=self("make it lower or UPPER")
  print(output)
display(lower)
display(upper)

make it lower or upper
MAKE IT LOWER OR UPPER

In [33]:
def create_add(x):
  def add(y):
    return x+y
  return add
var=create_add(1)
var(2)

3

In [35]:
def a(x):
  def b(y):
    return x+y
  return b
main=a(2)
main(3)

5

In [42]:
#decorator
def mainfunction(self):
  def innerfunction(a,b):
    print("before execution")
    value=self(a,b)
    print("after execution")
    return value
  return innerfunction

In [43]:
@mainfunction
def sumtwo(a,b):
  print("inside the function ")
  return a+b

In [44]:
sumtwo(9,5)

before execution
inside the function
after execution

14