In [ ]:
#Assignment 4
1. What exactly is []?
Empty List Value

In [4]:
#2. In a list of values stored in a variable called spam, how would you assign the value 'hello' as the
#third value? (Assume [2, 4, 6, 8, 10] are in spam.)
#Lets pretend the spam includes the list ['a','b','c','d'] for the next three queries.

spam=[2,4,6,8,10]
spam[2]="Hello"
spam

[2, 4, 'Hello', 8, 10]

In [7]:
#3. What is the value of spam[int(int(&#39;3&#39; * 2) / 11)]?

spam = ['a', 'b', 'c', 'd']
spam[int(int('3' * 2) / 11)]

'd'

In [5]:
#4. What is the value of spam[-1]?

spam[-1]

10

In [6]:
#5. What is the value of spam[:2]?

spam[:2]

[2, 4]

In [8]:
#6 Lets pretend bacon has the list [3.14, 'cat', 11, 'cat', True] for the next three questions.
# What is the value of bacon.index('cat')?
bacon = [3.14, 'cat', 11, 'cat', True]
bacon.index('cat')

1

In [9]:
#7. How does bacon.append(99) change the look of the list value in bacon?
bacon.append(99)
bacon

[3.14, 'cat', 11, 'cat', True, 99]

In [10]:
#8. How does bacon.remove('cat') change the look of the list in bacon?
bacon.remove('cat')
bacon

[3.14, 11, 'cat', True, 99]

In [ ]:
#9. What are the list concatenation and list replication operators?
Concatenation +
Replication *

In [11]:
#10. What is difference between the list methods append() and insert()?
#Append will add the value only at the end whereas insert will add the value wherever we want
abs=[1,2,3,4]
abs.append(0)
abs

[1, 2, 3, 4, 0]

In [20]:
abs=[1,2,3,4]
abs.insert(3,5)
abs

[1, 2, 3, 5, 4]

In [21]:
#11. What are the two methods for removing items from a list?
#del statement and remove()
abs.remove(2)
abs

[1, 3, 5, 4]

In [30]:
del abs[2]
abs

[1, 3, 4]

In [ ]:
#12. Describe how list values and string values are identical.
#Both lists and strings can be passed to len(), have indexes and slices,
#be used in for loops, be concatenated or replicated,
#and be used with the in and not in operators.

In [ ]:
#13. Whats the difference between tuples and lists?
[lists] are mutable, values can added, removed
(Tuples) are immutable

In [32]:
#14. How do you type a tuple value that only contains the integer 42?
a=(42)
type(a)

int

In [38]:
#15. How do you get a list values tuple form? How do you get a tuple values list form?
a=(1,2,3,4)
a[2]

3

In [ ]:
#16. Variables that "contain" list values are not necessarily lists themselves. Instead, what do they contain?
#They contain references to list values.

In [45]:
#17. How do you distinguish between copy.copy() and copy.deepcopy
import copy
a=[1,2,3,4]
b=copy.copy(a)
b

[1, 2, 3, 4]

In [46]:
import copy
a=[1,2,3,4]
c=copy.deepcopy(a)
c

[1, 2, 3, 4]